modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["resend:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 22187
externalPort = 80

[userenv]

[userenv.shared]
TWILIO_WHATSAPP_TEMPLATE_SID = "HX6ba65d89397a629d701450a27c40afed"

[userenv.development]
EMAIL_FROM = "noreply@emigration-assist.com"
RESEND_API_KEY = "re_4Ez643oH_N4xXRcZX4kC3dGVA5iegW6mC"
EMA_APP_URL = "https://831ea573-ae21-4d66-961a-bc34f1ca5ddd-00-d6572qj5r8sb.janeway.replit.dev"
